.vi_panel_standard_height {
  height: 6.428571429em;
}

.vi_client_id_number {
  width: 14.285714286em;
  display: inline;
  text-align: center;
}

.vi_client_id_type {
  width: 4.285714286em;
  display: inline;
}

.vi_search_client {
  width: 4.285714286em;
  height: 2.833333333em;
}

.vi_search_div_client_align {
  margin-left: -52px;
}

.vi_panel_center {
  margin-top: 0.785714286em;
}

.vi_panel_heading {
  text-align: center;
}

.vi_policy_label {
  margin-top: -12px;
}

.vi_policy_number {
  margin-top: -20px;
}

.vi_receipt_label {
  margin-top: 2px;
}

.vi_receipt_number {
  margin-top: -5px;
}