#topnavbar {
    margin: 0;
}

#topnavbar.affix {
    position: fixed;
    top: 0;
    width: 100%;
}

#banner {
  background: url('/assets/background_2.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
}

.banner_first_title_position {
  margin-top: -0.1%;
  color: white;
  font-weight: bold;
}

.banner_second_title_position {
  margin-top: -2%;
  margin-left: 5%;
  color: white;
  font-weight: bold;
}

.organized_paper {
  background: url('/assets/informacion_organiza.jpg');
  height: 100%;
  width: 100%;
}