.round_service-company-accessory_box {
  border-radius: 2em;
  margin-top: 2%;
}

.even {
  background: #F8F8F8;
  color: black;
}

.odd {
  background: #F0F0F0;
}

.delete_service-company-accessory {
  visibility: hidden;
  float: right;
  color: red;
}

ul:hover .delete_service-company-accessory {
  visibility: visible;
}

.service-company-accessory_list {
  margin-top: 6%;
  margin-bottom: 5%;
}