.first_title {
  text-align: center;
  margin: 1% 0 5% 0;
  position: relative;
  left: 6%;
}

.center_input_text {
  text-align: center;
}

.label-tag {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}