html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: $primary-font;
  font-size: 16px;
}

.wrapper {
  padding: 7%;
}

.center-div {
  text-align: center;
}

.center-image {
  padding-top: 15px;
  padding-left: 75px;
  text-align: center;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

p {
  text-align: center;
}

.label-tag {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

  .container {
    margin-top: 10px;
}

.table-position {
  padding-left: 20%;
}

tr:hover td {
  background-color: #CCFFCC;
  cursor: pointer;
}

.avatar-ratio {
  width: 230;
  height: 230px;
  border-radius: 150px;
}

.avatar-ratio-index {
  width: 100;
  height: 150px;
  border-radius: 150px;
}

.no-avatar {
  background: lightgray;
}

.space-image-show {
  margin-bottom: 30em;
}