<div class="col-md-2 sidebar">
  <ul class="sidebar-elements">
    <%= link_to(patient_background) do %>
      <div class="sidebar-images background-image">
        <li>Antecedentes</li>
      </div>
    <% end %>
    <%= link_to(patient_laboratory) do %>
      <div class="sidebar-images laboratory-image">
        <li>Laboratorios</li>
      </div>
    <% end %>
    <%= link_to(patient_pregnancy) do %>
      <div class="sidebar-images pregnancy-image">
        <li>Embarazos</li>
      </div>
    <% end %>
  </ul>
</div>